
@{
    ViewBag.Title = "Job Search";
}

<!-- search form -->
@using (Html.BeginForm("Index", "Announcement", FormMethod.Get, new { @class = "container" }))
{
    <div class="row mb-lg-3">
        <div class="col-lg-5">
            <div class="title">
                <i class="fas fa-search mr-2"></i>
                <input type="text" name="titleInput" class="title__input" id="job-title" placeholder="Job Title" />
            </div>
        </div>
    </div>
    <div class="row mb-lg-3">
        <div class="col-lg-5">
            <div class="city">
                <i class="fas fa-map-marker-alt mr-2"></i>
                <input type="text" name="cityInput" class="city__input" placeholder="Location" />
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-5">
            <div class="categorie">
                @Html.DropDownList("Categories", null, "Job Category", new { @class = "form-control" })
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-2">
            <div class="search">
                <input type="submit" value="Search" class="text-white text-decoration-none btn bg-primary search__button" />
            </div>
        </div>
    </div>
    <p class="text-center mt-4">
        You're a company?
        @Html.ActionLink("Create announcement", "CreateAnnouncement", "Announcement", null, new { @class = "text-primary text-decoration-none" })
    </p>
}

@section Scripts {
    <style>
        /* Form */
        form {
            margin-top: 80px;
        }

        .title, .city {
            border: 1px solid #ced4da;
            padding: 0 10px;
            border-radius: 6px;
            display: flex;
            align-items: center;
        }

        .title__input, .city__input {
            border: none;
            outline: none;
            padding: 10px 0;
            flex: 1;
        }

        @@media only screen and (max-width: 991px) {
            .title, .city {
                margin-bottom: 20px;
            }
        }

        .search__button {
            padding: 10px 20px;
        }

        .fas {
            color: #5672ff;
        }
    </style>
    <script>
        // Todo: Add autocomplete Functionalty For Job TextBox
        $("#job-title").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("GetJobsTitle","Home")',
                    dataType: 'json',
                    data: { search: $("#job-title").val() },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item }
                        }));
                        console.log(data);
                    },
                    error: (xhr, status, error) => {
                        console.log("Error");
                    }
                })
            }
        });
    </script>
}