* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 0px;
}

/* Form */
form {
    margin-top: 80px;
}

.title, .city {
    border: 1px solid #ced4da;
    padding: 0 10px;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.title__input, .city__input {
    border: none;
    outline: none;
    padding: 10px 0;
    flex: 1;
}

@media only screen and (max-width: 991px) {
    .title, .city {
        margin-bottom: 20px;
    }
}

.search__button {
    padding: 10px 20px;
}

.fas {
    color: #5672ff;
}
