@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Erreur";
}

<style>
    .imgError {
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }

    .imgContainer {
        max-width: 500px;
    }
</style>

<div class="d-flex flex-column justify-content-center align-items-center mt-4">
    <div class="imgContainer">
        <img class="imgError" src="~/Images/svgs/undraw_cancel_u1it.svg" />
    </div>
    <div class="mt-4">
        <h4 class="text-center">Sorry you can't access to this part</h4>
        @Html.ActionLink("Go To Home Page", "Index", "Home", null, new { @class = "btn btn-primary d-block my-3" })
    </div>
</div>