* {
    font-family: sans-serif;
}
/* Styling the navbar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*.navbar {
    justify-content: space-between;
}

.main-navbar {
    flex: 1;
}

.navbar-light .navbar-toggler {
    border-color: transparent;
}

.navbar-light .navbar-brand {
    color: #5672ff;
    font-weight: 500;
    font-size: 26px;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
    font-weight: 400;
    font-size: 16px;
    display: inline-block;
}*/

.nav-link:hover,
.nav-item.active > .nav-link {
     color: rgba(0,0,0,.9); 
    color: #5672ff !important;
    border-bottom: 2px solid #5672ff;
}

/*.nav-item {
    margin: 0 10px;
}

.nav-item:first-of-type {
    margin-right: auto;
}*/