@{
    ViewBag.Title = "Home Page";
}

<!-- search form -->
<form action="">
    <div class="row">
        <div class="col-lg-5">
            <div class="title">
                <i class="fas fa-search mr-2"></i>
                <input type="text" class="title__input" placeholder="Job Title" />
            </div>
        </div>
        <div class="col-lg-5">
            <div class="city">
                <i class="fas fa-map-marker-alt mr-2"></i>
                <input type="text" class="city__input" placeholder="City" />
            </div>
        </div>
        <div class="col-lg-2">
            <div class="search">
                <button class="btn btn-primary search__button">
                    @Html.ActionLink("Search", "Index", "Annoucement", new { @class = "text-white text-decoration-none" })
                </button>
            </div>
        </div>
    </div>
    <p class="text-center mt-4">
        You're a company?
        @Html.ActionLink("Create announcement", "Create", "Annoucement", new { @class = "text-primary text-decoration-none" })
    </p>
</form>

@section Home {
    <link href="@Url.Content("~/Content/Home.css")" rel="stylesheet" type="text/css" />
}