@{
    ViewBag.Title = "Home Page";
}

<!-- search form -->
@using (Html.BeginForm("Index", "Announcement", FormMethod.Get))
{
    <div class="d-flex align-items-center row">
        <div class="col-lg-5">
            <div class="title">
                <i class="fas fa-search mr-2"></i>
                <input type="text" name="titleInput" class="title__input" placeholder="Job Title" />
            </div>
        </div>
        <div class="col-lg-5">
            <div class="city">
                <i class="fas fa-map-marker-alt mr-2"></i>
                <input type="text" name="cityInput" class="city__input" placeholder="Location" />
            </div>
        </div>
        <div class="col-lg-2">
            <div class="search">
                <input type="submit" value="Search" class="text-white text-decoration-none btn bg-primary search__button" />
                @*@Html.ActionLink("Search", "Index", "Announcement", null, new { @class = "text-white text-decoration-none btn bg-primary search__button" })*@
            </div>
        </div>
    </div>
    <p class="text-center mt-4">
        You're a company?
        @Html.ActionLink("Create announcement", "Create", "Announcement", null, new { @class = "text-primary text-decoration-none" })
    </p>
}




@section Home {
    <link href="@Url.Content("~/Content/Home.css")" rel="stylesheet" type="text/css" />
}